html, body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#bfd9f6;
    color: #222;
}



/*NAVBAR*/

.navbar {
    background-color:#bfd9f6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    position: relative;
    height: 100px;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 28px;
    margin-right: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding-right: 1.5em;
}

.navbar li {
    margin: 0 25px;
}


.navbar a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;

}

.navbar a:hover {
    color: #95bbe4;
}

.nav-logo {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-logo img {
    height: 87px;
    width: auto;
    object-fit: contain;
}

/*HOME*/

.hero {
    background: #ffffff;
    color: #bfd9f6;
    text-align: center;
    padding: 185px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.3rem;
    max-width: 600px;
    margin: 0 auto 30px;
}

.hero .btn {
    background-color: white;
    color: #0077b6;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.hero .btn:hover {
    background-color: #023e8a;
    color: white;
}

/*FOOTER*/

.footer {
    background-color: #bfd9f6;
    color: #111;
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
   
}



.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 3em;

}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 23px;

}

.footer-links a:hover {
    color: #95bbe4;
}

.footer-bottom {
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    border-top: 2.5px solid white;
    padding: 2em;
    margin-bottom: -3em;
}

/*JOIN BUTTON*/
.join-btn {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 20px 50px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}

.navbar .join-btn {
    border-color: white;
    color: white;
}


.navbar .join-btn:hover {
    background-color: white;
    color: #95bbe4;
}



