html, body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#bfd9f6;
    color: #222;
}



/*NAVBAR*/

.navbar {
    background-color:#bfd9f6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0px 30px 0px; 
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: auto;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 28px;
    margin-right: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding-right: 1.5em;
}

.navbar li {
    margin: 0 25px;
}


.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;

}

.navbar a:hover {
    color: #95bbe4;
}

.nav-logo {
    margin-right:320px;
    margin-top: 20px;
}

.nav-logo img {
    height: 160px;
    width: auto;
    object-fit: contain;
}

/*HOME*/

.hero {
    background: #bfd9f6;
    color: #4a70e7;
    text-align: center;
    padding: 180px 20px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.hero-content {
    max-width: 600px;
}


.hero h1 {
    padding-right: 1.5em;
    margin-top: -2.2em;
    font-size: 5rem;
    margin-bottom: 30px;
}

.hero p {
    padding-right: 5.3em;
    font-size: 1.4rem;
    max-width: 600px;
    margin: 0 auto 5px;
    line-height: 1.4em;
}

/*MAIN BUTTON*/

.hero-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-bottom: 30px;
    padding-right: 6.8em;
}

.hero-btn {
    background-color: white;
    color: #4c7caf;
    padding: 15px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 1.2em;
}

.hero-btn:hover {
    background-color: #95bbe4;
    color: white;
}

/*FOOTER*/

.footer {
    background-color: #bfd9f6;
    color: #111;
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
   
}



.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 3em;

}

.footer-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 23px;

}

.footer-links a:hover {
    color: #95bbe4;
}

.footer-bottom {
    font-size: 0.9rem;
    color: #000000;
    text-align: center;
    border-top: 2px solid rgb(0, 0, 0);
    padding: 2em;
    margin-bottom: -3em;
}

/*JOIN BUTTON*/
.join-btn {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 20px 50px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}

.navbar .join-btn {
    border-color: white;
    color: white;
}


.navbar .join-btn:hover {
    background-color: white;
    color: #95bbe4;
}

/*ABOUT SECTION */
.about {
background-color: rgb(230, 242, 255);
padding: 60px 100px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.about-text h2 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 20px;
}

.about-text p {
    max-width: 600px;
    line-height: 1.7;
    font-size: 1.1rem;
    color: #333;
    padding-bottom: 0.5em;
}

.about-image {
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/*TIMELINE SECTION THING */

.timeline {
    background-color: white;
    text-align: center;
    padding: 60px 0px;
    margin-top: 6em;
}

.timeline h2 {
    margin-top: -0.1em;
    font-size: 3rem;
    color: #4a70e7;
    margin-bottom: 20px;
}

.timeline p {
    margin-top: 1.5em;
    font-size: 1.2em;
        color: #4a70e7;

}

.timeline-horizontal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    position: relative;
    padding: 0 40px;
}
.timeline-horizontal::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 50px;
    right: 50px;
    height: 4px;
    background-color: rgb(192,224,225);
    border-radius: 2px;
    z-index: 0;
}


.timeline-item {
    position: relative;
    text-align: center;
    z-index: 1;
 }

 .timeline-dot {
    width: 16px;
    height: 16px;
    background-color: rgb(192, 224,255);
    border-radius: 50%;
    margin: 0 auto 15px auto;
    border: 3px solid white;
    position: relative;
    top: 40px;
 }



.timeline-content {
    background: #f0f7ff;
    padding: 16px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 180px;
    margin-top: 40px;
}

.timeline-content h3 {
    color: #0056b3;
    margin-bottom: 6px;
    font-size: 1.1rem;
}

.timeline-content p {
    color: #333;
    font-size: 1rem;
    line-height: 1.3;
    }

    .hero-gif {
        max-width: 45%;
        height: auto;
        border-radius: 12px;
    }


/*CHAPTERS*/

.chapter-section {
    background-color: #bfd9f6;
    padding: 100px 80px;
    text-align: center;
}


.chapter-section h2 {
    font-size: 4rem;
    color: #4a70e7;
    margin-bottom: 30px;
    margin-top: -115px;
}

.chapter-section p {
    font-size: 1.4rem;
    max-width: 850px;
    margin: 0 auto 50px;
    color: #333;
    line-height: 1.6;
}


.chapter-btn {
    display: inline-block;
    background-color: #4a70e7;
    color: white;
    border: 2px solid #4a70e7;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 1.5em;
    transition: all 0.3 ease;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.chapter-btn:hover {
    background-color: #023e8a;
    color: white;
}

.chapter-info {
    display: none;
    margin-top: 60px;
    animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(30px);}
    to {opacity: 1; transform: translateY(0);}
}

.chapter-process h3 {
    color: #4a70e7;
    font-size: 3em;

}

.chapter-process h6 {
    font-size: 1.3em;
    margin-top: -1.4em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 6em;
        padding-right: 6em;
        font-weight: normal;

}

.process-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.step {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #ffe6c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.step:hover {
    transform: scale(1.05);
}

.step .num {
    background-color: #4a70e7;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 12px;
}

.step1 { background-color: #ffd59e; }
.step2 {background-color: #f8b3cf; }
.step3 {background-color: #b6e5ea;}
.step4 {background-color: #ffb6a1;}
.step5 {background-color: #ffe0b3;}
.step6 {background-color: #aee1f9;}

.step p {
    font-size: 1.1em;
    line-height: 1.3;
    color: #333;
    padding: 0 10px;
}

.chapter-section img {
    width: 270px;
}

html {
    scroll-behavior: smooth;
}

/*MEMBERS*/

.members-section {
    background-color: #f8fbff;
    padding: 100px 80px;
    text-align: center;
}

.members-section h2 {
    color: #4a70e7;
    font-size: 2.5em;
    margin-bottom: 15px;
    text-align: left;
    margin-top: -1em;
}

.members-section p {
    color: #333;
    font-size: 1.2em;
    max-width: 750px;
    line-height: 1.6;
    margin-bottom: 60px;
    text-align: left;
}

.member-group {
    margin-bottom: 80px;
}

.member-group h3 {
    font-size: 1.8rem;
    color: #194b9b;
    margin-bottom: 25px;
    text-align: left;
}



/*GRID*/

.member-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}



.member-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 25px;
    width: 230px;
    text-align: left;
    transition: transform 0.3s ease;
}

.member-card:hover {
    transform: translateY(-5px);

}

.member-card img {
    width: 100%;
    height: 200px;
     border-radius: 10px;
     object-fit: cover;
     margin-bottom: 12px;
}

.member-card h4 {
    font-size: 1.2em;
    color: #194b9b;
    margin-bottom: 5px;
    
}

.member-card p {
    font-size: 1em;
    color: #555;
}